/* shared styles */
body {
    background-color: #F5F7FE;
}

.bold-txt {
    color: black;
    font-weight: bold;
} 

.light-txt {
    color: #8987A1;
}


/* navbar related styles */
.navbar-container{
    display: flex;
    justify-content: center;
    gap: 600px;
    margin-top: 40px;

}

.nav-item {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.nav-item .nav-link a {
    text-decoration: none;
}

/* banner related styles */
.banner-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 120px;
}

.banner-container h3 {
    font-size: 4rem;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    margin-bottom: 20px;
    margin-top: 135px;
}

/* plant section related style */
.plant-detail {
    text-align: center;
    margin-top: 120px;
}

.plant-flex {
    display: flex;
    justify-content: center;
}

.plant-card-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.plant-card {
    width: 270px;
    text-align: center;
}

.plant-card p {
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
}

.plant-card button {
    background-color: #E95A08;
    border: none;
    color: white;
    font-family:"Inter", sans-serif ;
    width: 270px;
    height: 50px;
}


/* responsive designs */

@media screen and (max-width: 576px){
    /* responsive navbar  */
    .navbar-container{
        gap: 185px;
    }

    .dlt{
        display: none;
    }

    /* responsive banner */
    .banner-container {
        flex-direction: column;
    }

    .banner-container img {
        order: -1;
    }

    .banner-container h3 {
        margin-top: 10px;
        font-size: 3rem;
    }

    /* responsive plants section */

    .plant-card-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 10px;
        width: auto;
        margin-left: 10px;
    }
    

}
